.headline{
    font-size: 20px;
    color: white;
    font-weight: 600;
    margin-left: 100px;
}

.premium-btn{
    background-color: #0eeab7;
    padding: 5px;
    border-radius: 8px;
    color: black;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    transition: 0.3s;
}
.premium-btn:hover{
    background-color: #06fac1;
    border: solid;
    border-color: #068466;
}
.btn.btn-primary{
    margin-left: 100px
}
.premium-status{
    color: #06fac1;
    font-size: 30px;
}
.header{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 50px;

}
.list-group-item {
    padding-top: 20px;
    width: 500px;
}
.lists{
    padding: 15px;
    border-radius: 20px;    
    text-align: center;
}
.form-group{
    padding-bottom: 10px;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    color: white
}
.body{
    background-color: black;
}
.form-control{
    background-color: #212529;
    border: none;
    color: white;
}

.delete-btn{
    background-color: #e66a5e;
    border: none;
    border-radius: 20px;
    float: right;
    padding: 5px;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    transition: 0.3s;

}
.delete-btn:hover{
    background-color: red;
    border: none;
}

.select{
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border-width: 3px;
    font-weight: 500;
}
.labels{
    padding-bottom: 10px;
}

.form-container{
    margin-left: 100px;
}
.list-group{
    margin-left: 160px;
    margin-right: -100px;
    border-radius: 10px;
}
.col-6{
    border: solid;
    border-color: #0eeab7;
    border-left-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    margin-top: 50px;
    padding-bottom: 100px;
}
li:nth-child(even) {
    background-color: #0eeab7;
    margin-top: 10px;
    border: none;
}
li:nth-child(odd) {
    background-color: white;
    margin-top: 10px;
}
